
body {
	font-family: "Josefin Sans", sans-serif;
}

section {
	padding-top:15px;
	margin-left:auto;
	margin-right:auto;
	width:95%;
}

header {
	background:white;
	width: 100%;
    	height: 100px;
    	text-align: center;
}

nav {
	display: flex;
  	justify-content: space-between;
	display:inline-block
	background: white;
	margin-top:30px;
	width:97%;
}

#nav-index, #nav-product, #nav-about {
	text-decoration:underline;
	text-decoration-color:#e6bd43;
	text-decoration-thickness:2px;
}

#nav-contact {
	background-color:#e6bd43;
}

#index-intro, #product-intro, #clients, #sub-tekst {
	display:block;
	padding:50px;
	background-color:lightgray;
 	text-align: center;
}

#sub-tekst {
	background-color:white;
}

/* Hovedmeny lenkene */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Hovedmeny lenkene */
nav li {
	float: left;
	padding-top: 15px;
	padding-right: 10px;
}

/* Hovedmeny lenkene */
nav li a {
	text-decoration:none;
	color: black;
 	display: block;
 	padding: 8px;
	background-color: white;
}

/* Hovedmeny lenkene */
li a:hover {
	text-decoration:underline;
	text-decoration-color:#e6bd43;
	text-decoration-thickness:2px;
}

footer {
	display: flex;
  	justify-content: space-between;
 	text-align: center;
 	padding: 10px;
 	background-color: black;
 	color: white;
}

/* Footer: social media lenkene */
#div-footer p {
	float: left;
	padding-right: 10px;
}

article {
	display:inline-block;
	padding-top:15px;
}


/* Footer: social media lenkene */
#div-footer p a {
	text-decoration:none;
	color: white;
}

img[src="images/logo3.png"] {
	float: left;
	max-width: 5%;
	max-height: 5%;
}

hr {
	border-color: #e6bd43;
}

/* https://stackoverflow.com/questions/6534473/how-can-i-make-the-width-of-my-figcaption-match-the-width-of-the-img-inside */
figure {
	display:inline-block;
	padding-top:15px;
}

/* https://stackoverflow.com/questions/6534473/how-can-i-make-the-width-of-my-figcaption-match-the-width-of-the-img-inside */
figcaption {
	display: table-caption; 
	caption-side: bottom;
}

button {
	background-color:#e6bd43;
	border: none;
	color: black;
	padding: 13px 15px;
	text-align: center;
	text-decoration: bold;
	display: inline-block;
	font-size: 12px;
}

#button2 {
	background-color:white;
	border: solid;
	border-width: 2px;
	color: black;
	padding: 13px 15px;
	text-align: center;
	text-decoration: bold;
	display: inline-block;
	font-size: 12px;
}

#about {
	display: flex;
	padding-top:30px;
	padding-bottom:30px;
	padding-left:100px;
	border: solid;
	border-width:1px;
}

#about-tekst {
	padding:15px;
}

#about img {
	width: 18%;
	height: 18%;
}

#our-services {
	padding:30px;
 	text-align: center;
}

#our-services-list li {
	display: inline-block;
}

#our-services-list {
	padding:10px;
 	text-align: center;
	display: flex;
  	justify-content: space-evenly;
}

#newsletter {
	display:block;
	text-align: center;
	padding:30px;
	background-color:#F0F0F0;
}

/* Side 2 */

#nav-previous {
	padding-top:15px;
}

#nav-previous li a {
	border:solid;
	border-width:1px;
}

.i {
	font-size: 24px;
}

#about-intro {
	height:300px;
	display:block;
	padding:50px;
	background-color:lightgray;
}

#about-intro-element {
	float:right;
	border:none;
	margin:auto;
	padding-top:15px;
	padding-bottom:30px;
	padding-left:30px;
	padding-right:30px;
	background-color:white; 
	opacity:0.8;
	width:45%;
	height:85%;
}

#contact-us {
	display:block;
	text-align: center;
	padding:30px;
	background-color:#F0F0F0;
}

#clients {
	background-color:#e6bd43;
}

#clients ul li {
	display:inline-block;
}

#clients img {
	max-width: 100%;
	max-heigth: 100%;
	padding-top:50px;
	padding-left:20px;
	padding-right:20px;
}

#contact-form input {
	display:block;
	border:none;
	padding:13px;
	background-color:white;
	color:black;
}

#contact-info {
	float:right;
	width:50%;
}


#google-kart {
     padding: 10%;
     position: relative;
}
/* https://blog.hubspot.com/website/how-to-embed-google-map-in-html */
#google-kart iframe {
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     position: absolute;
}
